div {
    color: rgb(0, 0, 139);
    font: 14pt sans-serif;
}
div2 {
    color: rgb(0, 49, 155);
    font: 14pt sans-serif;
}
div1 {
    color: rgb(64, 224, 208);
    font: 14pt sans-serif;
}
